@import "tailwindcss";


:root {
    --background: #fafafa;
    --foreground: #171717;
    --indexred: #ff4500;
    --indexblue: #075097;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background: var(--indexred);
    min-height: 100vh;
}

header {
    z-index: 999;
    position: fixed;
    top: 0;
    height: 90px;
    width: 100%;
    border: 3px solid #0a0a0a;
    border-radius: 2px;
    background: var(--indexred);
    display: flex;
    align-items: center;
}

header .head_ball {
    margin: 14px;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background: var(--indexblue);
}

header h1 {
    flex-grow: 1;
    font-size: 6vw;
}

.main .pdex {
    height: 7000px;
    padding: 100px 10px;
    background: var(--indexred);
}

.main .pdex .pdex_container {
    height: 100%;
    border-radius: 5px;
    background: var(--background);
}

footer {
    height: 33px;
    background: #001429;
}
